.header{
    background-color: #fdb935;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}
.header ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 26px;

}
.main-left{
    width: 300px;
}
.main-right {
    width: 400px;
   
}
.main-parent{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;

    
}
.main-left button{
    background-color: #fdb935;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;

}
.main-right img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


.footer{
    background-color: #fdb935;
    height: 100px;
   margin-top: 30px;
   padding-top: 12px;
   text-align: center;

}
.footer i{
    font-size: 30px;
    padding: 8px;
}
/* .header i{
    font-size: 50px;
    background-color: white;
    border: none;
    width: 50px;
    margin-left: 300px;
    top: 20px; */

@media screen and (max-width: 600px){
    .header{
        flex-direction: column;
    }

    .header ul{
        display: none;
    }
    

    .main-parent{
        flex-direction: column;
    }
    .main-left {
       
        text-align: center;
    }
    .main-left button{
        margin-bottom: 15px;
        margin-left: 50px;
    }
    .main-left h1{
        font-size: 50px;
    }
    .main-left p{
        font-size: 20px;
        margin-left: 60px;
    }
   


   

}
